<%= provide(:title, 'Comments') %>

<div>
  <strong><%= link_to @user.name, @user %>'s article:</strong>
  <p><%= @article.content %></p>
  Posted <%= time_ago_in_words(@article.created_at) %> ago.
</div><br />
<div>
  <% if is_signed_in? %>
    <strong>Your comment</strong>
    <%= form_for(@comment) do |f| %>
      <table>
        <tr>
          <td><%= f.text_area :content, placeholder: "Type your comments here." %></td>
        </tr>
        <tr>
          <td><%= f.submit "Post comment" %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div><br />
<div>
  <% if @comments.any? %>
    <strong>Comments</strong>
    <ul>
      <%= render @comments %>
    </ul>
  <% end %>
<div>
