<%= provide(:title, 'Signup') %>

<h1>Signup!</h1>

<%= form_for(@user, url: signup_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <table>
    <!-- Name -->
    <tr>
      <td>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </td>
    </tr>

    <!-- email -->
    <tr>
      <td>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </td>
    </tr>

    <!-- password -->
    <tr>
      <td>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </td>
    </tr>

    <!-- password confirmation -->
    <tr>
      <td>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </td>
    </tr>

    <!-- submit -->
    <tr>
      <td>
        <br />
        <%= f.submit "Create my accoutn" %>
      </td>
    </tr>
  </table>
<% end %>
