<%= provide(:title, @user.name) %>

<h1><%= @user.name %> <%= render 'follow_form' if is_signed_in? %></h1>

<% if @articles.any? %>
  <ol>
    <%= render @articles %>
  </ol>

  <%= will_paginate @articles %>
<% end %>
