<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/default_header' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Small!", root_path %></h1>

      <ul class="links">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "Sign up" , signup_path %></li>
        <li><%= link_to "Sign in" , '#' %></li>
      </ul>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <ul class="links">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
