<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/default_header' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Small!", root_path %></h1>


      <% if is_signed_in? %>
        <%= render "layouts/head_links_signed_in" %>
      <% else %>
        <%= render "layouts/head_links_reg" %>
      <% end %>
    </header>

    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <ul class="links">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </footer>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
